@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Movie</h4>

	<hr />

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameForModel(model => model.Title)
		</dt>

	</dl>
	
</div>

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ID } ) |
	@Html.ActionLink("Back to List", "Index")
</p>